<a href="https://colab.research.google.com/github/anyuanay/info212/blob/main/INFO212_Week3_Lab_Numpy_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INFO 212: Data Science Programming 1
## CCI at Drexel University


## Week 3: Lab: Numpy and Pandas

## What to do:
- Answer each question individually.
- Comment on each single statement.
- Each missing comment will be penalized by 1 point.
- Verify the code by showing meaningful results.

import packages

## Exercise 1:

Create 3 lists, `ls1`, `ls2`, and `ls3`, with the following values:
- `ls1` contains 10 random decimal numbers in the range of (0.00, 150.00), each of which with 2-digit precision.
- `ls2` contains 10 random integers in the range of (1, 500).
- `ls3` contains 10 random decimal numbers in the range of (0.05, 0.90), each of which with 2-digit precision and the last digit rounded to the nearest 0 or 5.

Show the content of the lists.

## Exercise 2:
- Use the 3 lists as 3 columns to create a numpy array `arr` which uses `ls1` as the first column, `ls2` as the second column, and `ls3` as the third column.
- Show the content and shape of the array.

## Exercise 3:
- For the third column of `arr`, compute a boolean array indicating whether the value is between [0.20, 0.50].
- Use the boolean array to extract the rows of `arr` such as the values of the third column are between [0.20, 0.50].

## Exercise 4:

Use `ls1`, `ls2`, and `ls3` as the three columns to create a Pandas DataFrame `items`. Assign the column names as `['price', 'quantity', 'discount']`.

## Exercise 5:

Show the shape, columns, and summary statistics of the DataFrame `items`.

## Exercise 6:

Create a list of 10 strings as item names (meaningful names). Assign the names to the index of the DataFrame `items`. Show the final DataFrame.